/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1;
  font-weight: 300;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 0;
}

.grid--1-cols {
  grid-template-columns: 1fr;
}

.grid--2-cols {
  grid-template-columns: 1.4fr 1fr;
}

.hero-image {
  height: auto;
  background-image: url("../images/hero-desktop.jpg");
  background-size: cover;
  background-position: top;
}
.hero-details-informations {
  padding: 4.8em 15rem;
}
.logo-img {
  width: 40%;
  height: auto;
  margin-bottom: 16rem;
}

.hero-heading {
  font-size: 6.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-weight: 600;
  color: hsl(0, 6%, 24%);
  margin-bottom: 2.8rem;
}

.hero-heading span {
  color: hsl(0, 36%, 70%);
}

.hero-text {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 500;
  color: hsl(0, 36%, 70%);
  margin-bottom: 4.2rem;
}

.call-to-action-form input,
.call-to-action-form select {
  width: 100%;
  padding: 2rem 1.8rem;
  font-size: 2.4rem;
  font-family: inherit;
  color: inherit;
  box-shadow: 0 0 0 1px hsl(0, 36%, 70%);
  border: none;
  border-radius: 30px;
  background-color: hsl(0, 100%, 98%);
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.error-icon {
  position: absolute;
  padding: 0 0 0 1.2rem;
  left: 68%;
  display: none;
}
.btn--form {
  position: absolute;
  left: 76%;
}
.call-to-action-form input::placeholder {
  color: hsl(0, 36%, 70%);
  font-size: 2.4rem;
}

.call-to-action-form *:focus {
  outline: none;
  box-shadow: 0 0 0 1px hsl(0, 93%, 68%);
  border: none;
}

.btn {
  border: none;
  background-color: hsl(0, 93%, 68%);
  color: #fff4e6;
  align-self: end;
  padding: 1.6rem 6.2rem;
  transition: all 1s;
  border-radius: 4.2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: hsl(0, 74%, 74%);
}
.icon-arrow {
  width: 1.8rem;
  height: auto;
}
.error-message {
  padding: 10px;
  font-size: 2.4rem;
  font-weight: 400;
  color: #c92a2a;
  margin-bottom: 12.6rem;
}

.invalid-email-id:focus {
  outline: none;
  box-shadow: 0 0 0 1px #fa5252;
}

@media screen and (max-width: 550px) {
  .grid {
    row-gap: 2.6rem;
  }
  .grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "b";
  }

  .container {
    width: 100%;
  }
  .hero-details-informations {
    padding: 1.2rem;
    height: auto;
  }
  .logo-img {
    margin-bottom: 2.8rem;
  }
  .logo {
    grid-area: a;
  }
  .hero-image {
    background-image: url("../images/hero-mobile.jpg");
    background-size: cover;
    height: 20rem;
    grid-area: b;
  }
  .hero-details {
    text-align: center;
    grid-area: c;
  }
}
