/*

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /*font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Persentage of users browser font size setting */
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: hsl(212, 45%, 89%);
}

.qr-code-section {
  max-width: 144rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qr-code-container {
  background-color: #ffffff;
  width: 32rem;
  padding: 2.4rem;
  border-radius: 11px;
  text-align: center;
}
.qr-code-img {
  width: 100%;
  border-radius: 11px;
  margin-bottom: 2.8rem;
}
.heading {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  line-height: 1.4;
  margin-bottom: 2.4rem;
}
.qr-code-text {
  font-size: 1.5rem;
  color: hsl(220, 15%, 55%);
  line-height: 1.5;
  margin-bottom: 2rem;
}
