/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: hsl(204, 43%, 93%);
}

html {
  font-size: 62.5%;
}

.card-section {
  max-width: 144rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 50%;
  border-radius: 11px;
  overflow: hidden;
}

.community {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 3.8rem;
  background-color: #ffffff;
}
.community-header {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(179, 62%, 43%);
  margin-bottom: 3.2rem;
}
.community-sub-header {
  font-size: 1.8rem;
  font-weight: 600;
  color: hsl(71, 73%, 54%);
  margin-bottom: 2.4rem;
}
.community-text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6;
  color: hsl(218, 22%, 67%);
}

.card-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  background-color: hsl(179, 62%, 43%);
  padding: 3.8rem;
}
.card-header {
  font-size: 1.6rem;
  color: hsl(204, 43%, 93%);
  font-weight: 600;
  margin-bottom: 1.8rem;
}
.price {
  font-size: 1.6rem;
  color: hsl(203, 44%, 95%);
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 1.2rem;
}
.price span {
  color: hsl(204, 43%, 93%);
  font-size: 3.2rem;
  font-weight: 700;
}
.card-details-text {
  font-size: 1.6rem;
  color: hsl(204, 43%, 93%);
  line-height: 1.6rem;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  background-color: hsl(71, 73%, 54%);
  color: hsl(204, 43%, 93%);
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 1.8rem;
  border-radius: 11px;
}
.why-us {
  background-color: hsla(179, 62%, 43%, 0.699);
  padding: 3.8rem;
}

.why-us-header {
  font-size: 1.6rem;
  color: hsl(204, 43%, 93%);
  font-weight: 600;
  margin-bottom: 1.8rem;
}

.why-us-items {
  list-style-type: none;
  font-size: 1.6rem;
  color: hsl(204, 43%, 93%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (max-width: 450px) {
  .card-details {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "a"
      "b";
  }
  .card {
    grid-area: a;
  }
  .why-us {
    grid-area: b;
  }
  html {
    font-size: 45.5%;
  }
  .container {
    width: 90%;
  }
}
