/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Space Grotesk](https://fonts.google.com/specimen/Space+Grotesk)
- Weights: 500

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1;
  font-size: 1.8rem;
  font-weight: 500;
  max-width: 144rem;
  margin: 0 auto;
  height: 100vh;
}

.main {
  display: flex;
  gap: 20rem;
}

.card-design {
  background-image: url("../images/bg-main-desktop.png");
  background-size: cover;
  width: 28%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.8rem;
  padding-left: 20rem;
}

.card-front {
  background-image: url("../images/bg-card-front.png");
  background-size: cover;
  width: 44.7rem;
  height: 24.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 1rem;
}

.card-back {
  background-image: url("../images/bg-card-back.png");
  background-size: cover;
  width: 44.7rem;
  height: 24.5rem;
  margin-left: 20rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 1rem;
}

.cvc-number-card-back {
  color: hsl(270, 3%, 87%);
  position: absolute;
  right: 12%;
  top: 46%;
}

.card-front {
  padding: 2.8rem;
  display: flex;
  flex-direction: column;
}
.design-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.8rem;
  margin-bottom: 8rem;
}

.design-one {
  height: 4rem;
  width: 4rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
}
.design-two {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.card-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
  font-size: 2.8rem;
  letter-spacing: 3px;
  margin-bottom: 2.8rem;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
}

.card-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.call-to-action-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border-radius: 5px;
}

.input-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.call-to-action-form input,
.call-to-action-form select {
  width: 100%;
  padding: 1.4rem 1.6rem 1.4rem 1.6rem;
  font-size: 1.8rem;
  color: hsl(249, 10%, 26%);
  box-shadow: 0 0 0 1px hsl(279, 6%, 55%);
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
}

.call-to-action-form input::placeholder {
  font-size: 1.8rem;
  color: hsl(270, 3%, 87%);
}

.call-to-action-form *:focus {
  outline: none;
  box-shadow: inset 0px 0px 0px 1px hsl(249, 99%, 64%),
    inset 0px 0px 1px 1px hsl(278, 94%, 30%);
  border: none;
}

.input-level {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.input-container-extend {
  flex-direction: row;
  gap: 1.8rem;
}
.date-part {
  width: 47%;
}
.cvc-part {
  width: 47%;
}
.input-details-extend {
  flex-direction: row;
  gap: 1.8rem;
}
.error-message-cvc,
.error-message-exp-date,
.error-message-card-number,
.error-message-cardholder-name {
  font-size: 1.6rem;
  color: hsl(0, 100%, 66%);
  text-align: left;
  display: block;
  width: 70%;
  height: 0.8rem;
  padding-left: 0.8rem;
  margin-top: 0.3rem;
  margin-bottom: 1.8rem;
}

.invalid-focus {
  outline: none;
  box-shadow: inset 0 0 0 1px hsl(0, 100%, 66%) !important;
  border: none;
}

.btn {
  width: 58%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 2.4rem;
}
.btn-confirm {
  font-size: 2rem;
  background: linear-gradient(to right, hsl(278, 68%, 11%), hsl(278, 94%, 30%));
}

.btn-continue {
  width: 90%;
  font-size: 2rem;
  background: linear-gradient(to right, hsl(278, 68%, 11%), hsl(278, 94%, 30%));
}

.thank-you-message {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
}

.tank-your-message {
  font-size: 4.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.complete-text {
  font-size: 2.8rem;
  font-weight: 500;
  color: hsl(279, 6%, 55%);
  margin-bottom: 1rem;
}

@media screen and (max-width: 550px) {
  .main {
    flex-direction: column;
    gap: 10rem;
  }
  .card-design {
    background-image: url("../images/bg-main-mobile.png");
    flex-direction: column-reverse;
    width: 100%;
    height: 28rem;
    align-items: center;
    justify-content: flex-end;
    gap: 0rem;
    padding-left: 0rem;
    z-index: -99;
    padding-top: 4rem;
  }
  .card-back {
    width: 32rem;
    height: 18rem;
    margin-left: 5rem;
    position: absolute;
    z-index: -2;
  }
  .card-front {
    width: 32rem;
    height: 18rem;
    padding: 1.8rem;
    position: relative;
    top: 42%;
    left: -2.4rem;
    z-index: -1;
  }
  .cvc-number-card-back {
    font-size: 1.6rem;
    right: 8%;
    top: 45%;
  }

  .design-header {
    gap: 0.8rem;
    margin-bottom: 6.4rem;
  }
  .design-one {
    height: 2.5rem;
    width: 2.5rem;
  }
  .design-two {
    height: 1.5rem;
    width: 1.5rem;
  }
  .card-number {
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 2.8rem;
  }
  .card-footer {
    font-size: 1.6rem;
  }
  .card-information {
    width: 100%;
  }
  .input-details {
    width: 90%;
  }
  .input-level {
    font-size: 1.6rem;
  }
  .call-to-action-form input,
  .call-to-action-form select {
    padding: 1.2rem 1.4rem 1.2rem 1.4rem;
    font-size: 1.6rem;
  }
  .call-to-action-form input::placeholder {
    font-size: 1.6rem;
  }
  .btn {
    width: 90%;
    margin-top: 2.4rem;
  }
  .thank-you-message {
    gap: 3.2rem;
  }
  .complete-text {
    font-size: 2.2rem;
    margin-bottom: 2.8rem;
  }
  .error-message-cvc,
  .error-message-exp-date,
  .error-message-card-number,
  .error-message-cardholder-name {
    font-size: 1.4rem;
  }
}
