/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Space Grotesk](https://fonts.google.com/specimen/Space+Grotesk)
- Weights: 500

*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1;
  font-weight: 500;
  max-width: 144rem;
  margin: 0 auto;
  min-height: 100vh;
}

.main {
  display: flex;
  gap: 20rem;
}

.card-design {
  background-image: url("../images/bg-main-desktop.png");
  background-size: cover;
  width: 35%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-left: 25rem;
  backface-visibility: hidden;
}

.card-front {
  background-image: url("../images/bg-card-front.png");
  background-size: cover;
  width: 45rem;
  height: 25rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 1rem;

  animation-name: cardmoveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.card-back {
  background-image: url("../images/bg-card-back.png");
  background-size: cover;
  width: 45rem;
  height: 25rem;
  margin-left: 15rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 1rem;

  animation-name: cardMoveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes cardmoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes cardMoveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.cvc-number-card-back {
  font-size: 1.8rem;
  color: hsl(270, 3%, 87%);
  position: absolute;
  right: 5rem;
  top: 11.4rem;
}

.card-front {
  padding: 2.8rem;
  display: flex;
  flex-direction: column;
}
.design-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.8rem;
  margin-bottom: 6.4rem;
}

.design-one {
  height: 4rem;
  width: 4rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
}
.design-two {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.card-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
  font-size: 2.8rem;
  letter-spacing: 3px;
  margin-bottom: 5rem;
}

.card-footer {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
  letter-spacing: 2px;
}

.card-information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 60rem;
}

.call-to-action-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  backface-visibility: hidden;
}

.input-details {
  width: 48rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
}

.call-to-action-form input,
.call-to-action-form select {
  width: 80%;
  padding: 1rem 1rem;
  font-size: 1.8rem;
  color: hsl(249, 10%, 26%);
  box-shadow: 0 0 0 1px hsl(270, 3%, 87%);
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
}

.call-to-action-form input::placeholder {
  font-size: 1.8rem;
  color: hsl(270, 3%, 87%);
}

.call-to-action-form *:focus {
  outline: none;
  box-shadow: inset 0px 0px 1px 1px hsl(249, 99%, 64%),
    inset 0px 0px 1px 1px hsl(278, 94%, 30%);
  border: none;
}

.input-level {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-container-extend {
  flex-direction: row;
  gap: 1rem;
}
.input-container--cvc {
  width: 80%;
}
.date-part {
  width: 40%;
}
.cvc-part {
  width: 55%;
}
.input-details-extend {
  flex-direction: row;
  gap: 2rem;
}
.error-message-cvc,
.error-message-exp-date,
.error-message-card-number,
.error-message-cardholder-name {
  font-size: 1.6rem;
  color: hsl(0, 100%, 66%);
  text-align: left;
  display: block;
  width: 100%;
  height: 1.4rem;
  padding-left: 2px;
  margin-top: 2px;

  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.invalid-focus {
  outline: none;
  box-shadow: inset 0 0 0 1px hsl(0, 100%, 66%) !important;
  border: none;
}

.btn {
  font-size: 1.8rem;
  width: 38rem;
  padding: 1.4rem;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
  margin-bottom: 2rem;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}

.btn-confirm {
  margin-right: 8rem;
}

.btn-confirm::after {
  border-radius: 5px;
  background: linear-gradient(to right, hsl(278, 68%, 11%), hsl(278, 94%, 30%));
}

.btn-continue::after {
  border-radius: 5px;
  background: linear-gradient(to right, hsl(278, 94%, 30%), hsl(278, 68%, 11%));
}

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.3);
  opacity: 0;
}

.btn-confirm {
  background: linear-gradient(to right, hsl(278, 68%, 11%), hsl(278, 94%, 30%));
}

.btn-continue {
  width: 90%;
  background: linear-gradient(to right, hsl(278, 94%, 30%), hsl(278, 68%, 11%));
}

.thank-you-message {
  width: 50rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;

  backface-visibility: hidden;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-10rem);
    transform: rotate(-10deg);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.tank-your-message {
  font-size: 4.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.complete-text {
  font-size: 2.4rem;
  font-weight: 500;
  color: hsl(279, 6%, 55%);
  margin-bottom: 1rem;
}
