/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Neutral

- Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
- Weights: 500, 700

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
body {
  font-family: "Epilogue", sans-serif;
  line-height: 1;
  font-weight: 500;
  max-width: 144rem;
  background-color: hsl(0, 0%, 98%);
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  height: 10rem;
  padding: 0 5rem;
  color: hsl(0, 0%, 41%);
  margin-bottom: 3.4rem;
}

.blog-logo {
  width: 100%;
  height: auto;
  cursor: pointer;
  padding-right: 5px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.nav-link {
  display: block;
  font-size: 1.8rem;
  color: hsl(0, 0%, 41%);
}

.nav-link:hover,
.nav-link:active {
  color: hsl(0, 0%, 8%);
}

.arrow {
  padding-left: 5px;
}

.dropdown {
  position: relative;
  padding-right: 5px;
}

.dropdown-menu {
  display: none;
}
.menu-icon {
  padding-right: 5px;
}
.dropdown--open .dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background: #f1f3f5;
  padding: 10px;
  border: 1px solid #f1f3f5;
  border-radius: 5px;
  min-width: 100%;
  width: 15rem;
  transition: all 0.4s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  padding: 8px 5px 8px 5px;
  transition: all 0.4s;
}

.nav-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}
.login-option:link,
.login-option:visited {
  font-size: 1.8rem;
  font-weight: 500;
  color: hsl(0, 0%, 41%);
}

.login-option:hover,
.login-option:active {
  color: hsl(0, 0%, 8%);
}

.sign-up-btn {
  border: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: hsl(0, 0%, 41%);
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 41%);
  padding: 1.2rem 2.2rem 1rem 2.2rem;
  border-radius: 11px;
  cursor: pointer;
  transition: all 0.4s;
}
.sign-up-btn:hover {
  color: hsl(0, 0%, 8%);
}
.main {
  display: flex;
  padding: 0 7rem 0 15rem;
  justify-content: space-between;
  gap: 12rem;
}
.hero-heading {
  font-size: 7.8rem;
  font-weight: 700;
  color: hsl(0, 0%, 8%);
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.hero-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: hsl(0, 0%, 41%);
  padding-right: 5rem;
  margin-bottom: 4.2rem;
}

.learn-more-btn:link,
.learn-more-btn:visited {
  text-align: center;
  border: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 8%);
  padding: 1.8rem 2.6rem 1.8rem 2.6rem;
  border-radius: 8px;
  transition: all 0.4s;
}
.learn-more-btn:hover,
.learn-more-btn:active {
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 41%);
  color: hsl(0, 0%, 8%);
}
.hero-btn {
  margin-bottom: 15rem;
}
.our-client {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-image {
  background-image: url("../images/image-hero-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: auto;
}
